
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to the groups collection
    // and allow anyone to create a new group document.
    match /groups/{groupId} {
      allow read, create: if true;

      // Restrict update and delete operations for now.
      allow update, delete: if false;
    }
  }
}
